<h1>Success</h1>
    <form asp-controller="Home" asp-action="Logout" method="POST">
        <div class="btn border-danger">
            <button type="submit" class="btn btn-outline-danger shadow cards">Logout</button>
        </div>
    </form>
