@model LoginUser

                <form asp-controller="Home" asp-action="Login" method="POST">

                            <h2 class="text-primary text-decoration-underline fw-bold">Login</h2>

                            <div class="form-group">
                                <label asp-for="LoginEmail">Email:</label>
                                <span asp-validation-for="LoginEmail" class="text-danger font-weight-bold"></span>
                                <input asp-for="LoginEmail" class="form-control"
                                    placeholder="please enter your email...">
                            </div>

                            <div class="form-group">
                                <label asp-for="LoginPassword">Password:</label>
                                <span asp-validation-for="LoginPassword" class="text-danger font-weight-bold"></span>
                                <input asp-for="LoginPassword" class="form-control"
                                    placeholder="please enter your password...">
                            </div>

                            <br>

                            <button class="btn btn-outline-success">Login</button>

                        </form>