﻿@{
    ViewData["Title"] = "Home Page";
}
@model Survey
@* ^^"Error rz2005:the `model` directive must appear at the start of the line."
May need to move @model below lines 1-3 if same error occurs *@



<div class="bg-dark text-light">
    <div class="mt-5 border border-light p-3 mx-auto w-50">
@* form here *@
        <form asp-controller="Home" asp-action="SurveySave" method="POST">

            <div class="d-flex justify-content-between mb-3">
                <label asp-for="Name" class="text-info text-decoration-underline fw-bold">Your Name:</label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input type="text" name="Name" class="form-control w-50">
            </div>

            <div class="d-flex justify-content-between mb-3">
                <label asp-for="Location" class="text-success text-decoration-underline fw-bold">Dojo Location:</label>
                <span asp-validation-for="Location" class="text-danger"></span>
                <select asp-for="Location" class="form-control w-50" id="location">
                    @* select needs asp-for also  *@
                    @* add in a option with "--Select--" to test for null *@
                    <option value="San Jose">San Jose</option>
                    <option value="Burbank">Burbank</option>
                    <option value="New York">New York</option>
                    <option value="Washington">Washington</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Hawaii">Hawaii</option>
                </select>
            </div>

            <div class="d-flex justify-content-between mb-3">
                <label asp-for="Language" class="text-warning text-decoration-underline fw-bold">Favorite Language:</label>
                <span asp-validation-for="Language" class="text-danger"></span>
                <select asp-for="Language" class="form-control w-50" id="location">
                    @* select needs asp-for also  *@
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Java">Java</option>
                </select>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <label asp-for="Comment" class="text-danger text-decoration-underline fw-bold">Comment (optional):</label>
                <span asp-validation-for="Comment" class="text-danger"></span>
                <textarea name="Comment" class="form-control w-50 mb-3"></textarea>
            </div>

@* submit button  *@
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

        </form>
@* end form  *@
    </div>
</div>