@{
    ViewData["Title"] = "Home Page";
}

<h2>Add a pet to our project</h2>

<form action="/addPet" method="POST">

    <label for ="">Name</label>
    <input type="text" name="Name">
    <label for ="">Type</label>
    <input type="text" name="Type">
    <label for ="">Age</label>
    <input type="number" name="Age">

    <input type="submit" value="Submit">
    
</form>